@media only screen and (max-width: 600px) {
    body {
        display: grid;
        grid-template-columns: 1fr 60px;


        grid-template-rows: 100px 300px 1fr 20% auto 300px;


        grid-template-areas:
            "header   header"
            "main     main "
            "main     main  "
            "aside     aside  "
            "aside     aside  "
            "footer   footer  ";
        font-family: 'Roboto', sans-serif;
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
    }
}
