@media (max-width: 450px) {
    body {
        display: grid;
        grid-template-rows: 80px auto auto 75%;
        grid-template-areas:
            "header"
            "main"
            "main"
            "footer";
        font-family: 'Roboto', sans-serif;
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
    }
}

