/* selector universal */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-columns: 150px 3fr 1fr;
  grid-template-rows: 100px 300px 1fr 20%;
  grid-template-areas: "header   header   header" "main     main    aside" "main     main    aside" "footer   footer   footer";
  font-family: "Roboto", sans-serif;
}

@media only screen and (max-width: 600px) {
  body {
    display: grid;
    grid-template-columns: 1fr 60px;
    grid-template-rows: 100px 300px 1fr 20% auto 300px;
    grid-template-areas: "header   header" "main     main " "main     main  " "aside     aside  " "aside     aside  " "footer   footer  ";
    font-family: "Roboto", sans-serif;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
  }
}
header {
  background-color: lightgray;
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-area: header;
  align-self: stretch;
}
header .logodiv {
  display: flex;
  flex-direction: row;
}
header .logodiv .logo {
  height: 80px;
}

nav {
  background-color: lightgray;
  color: black;
  display: contents;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  text-decoration: none;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
nav li {
  float: left;
}
nav li a {
  display: inline;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  justify-content: space-between;
}

/* main*/
main {
  background-image: linear-gradient(90deg, #74EBD5 0%, #9FACE6 100%);
  grid-area: main;
}
main h1 {
  text-align: center;
  font-size: 1.5rem;
}
main #presentacion {
  color: black;
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main #presentacion h1 {
  text-align: center;
  font-size: 2rem;
}
main #Aprendizaje {
  color: black;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main #Aprendizaje h2 {
  text-align: center;
  font-size: 1.5rem;
}
main #Aprendizaje p {
  text-align: center;
  font-size: 1rem;
  max-width: 80%;
  margin: 20px 0;
}
main #Aprendizaje ul {
  text-align: center;
  font-size: 1rem;
  max-width: 80%;
  margin: 20px 0;
}

#destacados {
  color: black;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
#destacados h3 {
  text-align: center;
  font-size: 1.5rem;
  padding: 10px;
}
#destacados iframe {
  width: 60%;
  height: 60%;
  border-radius: 20px;
}

.TituloAprendizaje {
  text-align: center;
  font-size: 1rem;
}

aside {
  grid-area: aside;
  background-color: darkviolet;
}
aside h4 {
  display: flex;
  text-align: center;
  margin-top: 50px;
}
aside .cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 30px;
  max-width: 1300px;
  align-items: center;
  flex: 50%;
}
aside .casos {
  background-color: lightgray;
  color: black;
  width: 200px;
  padding: 25px;
  margin: 10px;
  text-align: center;
  border-radius: 10px;
  border: 5px solid white;
  flex: 50%;
}
aside .casos p {
  margin: 20px 0;
}

.profesores {
  background-color: lightgray;
  color: black;
  width: 200px;
  padding: 25px;
  margin: 10px;
  text-align: center;
  border-radius: 10px;
  border: 5px solid white;
}
.profesores fieldset {
  display: flex;
  flex-direction: column;
  margin: 10px;
}
.profesores p {
  margin: 20px 0;
}

footer {
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0;
  grid-area: footer;
}
footer h6 {
  margin-bottom: 20px;
}

.footerEnlaces {
  padding-top: 20px;
  padding-left: 20px;
  width: 190%;
  height: 80%;
  display: flow-root;
  flex-direction: row;
  align-items: center;
}
.footerEnlaces ul {
  list-style-type: none;
}
.footerEnlaces a {
  text-decoration: none;
  color: black;
  display: flex;
}

.footerRedes {
  width: 15%;
  padding-top: 20px;
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding-right: 100px;
  padding-left: 100px;
}
.footerRedes ul {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  color: black;
}
.footerRedes img {
  width: 30px;
}

.footerContainer {
  width: 100%;
  height: 80%;
  display: flex;
  align-items: center;
}

.newsletter form {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.newsletter form input {
  padding: 10px 15px;
  border: none;
  border-radius: 15px;
}
.newsletter form input button {
  margin-top: 15px;
  border: none;
  background-color: lightgray;
}

.copyright {
  padding-top: 20px;
  width: 100%;
  height: 80%;
  border-top: 2px solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.button {
  font-weight: 600;
  background-color: lightblue;
  padding: 9px 6px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  color: black;
  text-decoration: none;
}

#imgnosotros {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

/*# sourceMappingURL=style.css.map */
