/* selector universal */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*   queries   */
@media (max-width: 450px) {
  body {
    display: grid;
    grid-template-rows: 80px auto auto 75%;
    grid-template-areas: "header" "main" "main" "footer";
    font-family: "Roboto", sans-serif;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
  }
}
/*    variables  */
/* grid */
body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 15vh 1fr 10%;
  grid-template-areas: "header header" "main    main" "footer  footer";
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

/*  mixin */
/* buttoms y cards */
.button {
  font-weight: 600;
  padding: 10px;
  border: 1px solid darkviolet;
  border-radius: 50px;
  margin-top: 30px;
  margin-bottom: 10px;
  cursor: pointer;
  color: black;
  text-decoration: none;
}

/* cards curso  */
.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 1100px;
  padding-left: 13%;
}

.card {
  width: 100%;
  margin: 20px;
  border-radius: 6px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0px 1px 10px rgba 0, 0, 0, 0.2;
  cursor: default;
  transition: all 400ms ease;
}
.card :hover {
  box-shadow: 5px 5px 20px rgba 0, 0, 0, 0.4;
  transform: translateY(-3%);
}
.card img {
  width: 100%;
  height: 210px;
}
.card .contenido {
  padding: 15px;
  text-align: center;
}
.card .contenido p {
  line-height: 1.5;
  color: #6a6a6a;
}
.card .contenido h2 {
  font-family: 400;
  margin-bottom: 15px;
}
.card .contenido a {
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  margin-top: 10px;
  color: lightblue;
  border: 1px solid lightblue;
  border-radius: 4px;
  transition: all 400ms ease;
}
.card .contenido a :hover {
  background: lightblue;
  color: #fff;
}

@media (max-width: 450px) {
  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 0;
  }
}
/* header */
header {
  background-color: lightgray;
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-area: header;
  align-self: stretch;
}
header .logodiv {
  display: flex;
  flex-direction: row;
}
header .logodiv .logo {
  height: 80px;
}

@media (max-width: 450px) {
  header {
    height: 100px;
    width: 100%;
  }
}
/* navbar  */
nav {
  background-color: lightgray;
  color: black;
  display: contents;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  text-decoration: none;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
nav li {
  float: left;
}
nav li a {
  display: inline-block;
  justify-content: space-between;
  align-items: center;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

@media (max-width: 450px) {
  nav {
    display: flex;
  }
}
/* main*/
main {
  background-image: linear-gradient(90deg, #74EBD5 0%, #9FACE6 100%);
  grid-area: main;
}
main .cursosBody {
  width: 100%;
}
main h1 {
  text-align: center;
  font-size: 1.5rem;
}
main #presentacion {
  color: black;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
main #presentacion h1 {
  text-align: center;
  font-size: 2rem;
  margin-top: 25px;
}
main #Aprendizaje {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 15px;
  margin-bottom: 30px;
}
main #Aprendizaje h2 {
  text-align: center;
  font-size: 1.5rem;
  margin-top: 50px;
  margin-bottom: 20px;
}
main #Aprendizaje p {
  text-align: center;
  font-size: 1rem;
  max-width: 80%;
  margin: 15px 0;
}
main #Aprendizaje ul {
  display: flex;
  text-align: center;
  align-items: center;
  font-size: 1rem;
  max-width: 80%;
  margin: 20px 0;
}

.items {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}
.items li {
  display: flex;
  text-decoration: none;
  align-items: center;
  text-align: center;
}

#destacados {
  color: black;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  margin-bottom: 20px;
}
#destacados h3 {
  text-align: center;
  font-size: 1.5rem;
  padding: 10px;
}
#destacados iframe {
  width: 60%;
  height: 60%;
  border-radius: 20px;
}
#destacados h4 {
  display: flex;
  text-align: center;
  margin-top: 50px;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 80px;
  max-width: 1300px;
  flex: 50%;
}

.casos {
  background-color: lightgray;
  color: black;
  width: 200px;
  padding: 25px;
  margin: 10px;
  text-align: center;
  border-radius: 10px;
  border: 5px solid white;
  flex: 50%;
}
.casos p {
  margin: 20px 0;
}

.profesores {
  background-color: #fff;
  color: black;
  width: 400px;
  height: 400px;
  padding: 25px;
  margin: 10px;
  text-align: center;
  border-radius: 10px;
  border: 5px solid lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.profesores h3 {
  font-family: 400;
  margin-bottom: 15px;
  font-size: 1.5rem;
}
.profesores p {
  line-height: 1.5;
}

.TituloAprendizaje {
  text-align: center;
  font-size: 1rem;
  margin-top: 20px;
  margin-bottom: 20px;
}

h4 {
  display: flex;
  justify-content: center;
  font-size: larger;
}

#imgnosotros {
  display: flex;
  justify-content: center;
}

.formulario {
  width: 100vh;
  height: 100vh;
  padding: 10px;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.formulario legend {
  font-size: 22px;
  margin-bottom: 20px;
}

.controls {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 2px solid darkviolet;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

@media (max-width: 450px) {
  #destacados {
    height: 80vh;
    margin-bottom: 10px;
  }
  #destacados h3 {
    margin-bottom: 20px;
  }
  #destacados iframe {
    width: 60%;
    height: 60%;
  }
}
@media (max-width: 450px) {
  .formulario {
    width: 100%;
  }
}
/* aside  
@import "./layout/aside"; */
/* footer */
footer {
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 70px 0;
  grid-area: footer;
}
footer h6 {
  margin-bottom: 20px;
}

.footerEnlaces {
  padding-top: 20px;
  padding-left: 20px;
  width: 190%;
  height: 80%;
  display: flow-root;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.footerEnlaces ul {
  list-style-type: none;
}
.footerEnlaces a {
  text-decoration: none;
  color: black;
  display: flex;
}

.footerRedes {
  width: 15%;
  padding-top: 20px;
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: row;
  padding-right: 100px;
  padding-left: 100px;
}
.footerRedes ul {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  color: black;
}
.footerRedes img {
  width: 30px;
  padding-left: 40%;
  display: flex;
  justify-content: space-around;
}

.footerContainer {
  width: 100%;
  height: 80%;
  display: flex;
  align-items: center;
}

input {
  padding: 10px 15px;
  border: none;
  border-radius: 15px;
}
input button {
  margin-top: 15px;
  border: none;
  background-color: lightgray;
}

@media (max-width: 450px) {
  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .footerContainer {
    display: flex;
    align-items: center;
    align-items: center;
  }
  .footerEnlaces {
    padding-left: 20px;
    width: 190%;
    height: 80%;
  }
  .footerEnlaces a {
    display: flex;
    padding-left: 20px;
  }
  .footerRedes {
    padding-right: 30%;
    display: flex;
    justify-content: center;
    padding-left: 30%;
    padding-top: 68px;
  }
}

/*# sourceMappingURL=style.css.map */
