body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
        "header header"
        "main    main"
        "footer  footer";
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

@media (max-width: 450px) {
    body {
        display: grid;
        grid-template-rows: repeat(3, auto);
        grid-template-areas:
            "header"
            "main"
            "footer";
        font-family: 'Roboto', sans-serif;

    }
}