footer {
    background-color: lightgray;
    @include flex($display:flex, $direction:column, $items:center);
    padding: 70px 0;
    grid-area: footer;

    h6 {
        margin-bottom: 20px;
    }
}

.footerEnlaces {
    padding-top: 20px;
    padding-left: 20px;
    width: 190%;
    height: 80%;
    @include flex($display: flow-root, $direction:column, $items:center);

    ul {
        list-style-type: none;
    }

    a {
        text-decoration: none;
        color: $colorprincipal;
        display: flex;
    }
}

.footerRedes {
    width: 15%;
    padding-top: 20px;
    width: 100%;
    height: 80%;
    @include flex($display:flex, $direction: row, $items: flex-end);
    padding-right: 100px;
    padding-left: 100px;

   
    ul {
        display: flex;
        list-style-type: none;
        justify-content: space-between;
        color: $colorprincipal;
    }

    img {
        width: 30px;
       
   display: flex;
   justify-content: space-around;
    }
}

.footerContainer {
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
}

/* newslette 
.newsletter {
    form {
        @include flex($display: flex, $items, $direction);*/

        input {
            padding: 10px 15px;
            border: none;
            border-radius: 15px;

            button {
                margin-top: 15px;
                border: none;
                background-color: lightgray;
            }

        }
   
.copyright {
    padding-top: 20px;
    width: 100%;
    height: 80%;
    @include flex($display:flex, $direction:column, $items:center, $content: space-evenly);
}
