body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 15vh 1fr 10%;
    grid-template-areas:
        "header header"
        "main    main"
        "footer  footer";
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}