header {
    background-color: $ColorBackground;
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-area: header;
    align-self: stretch;

    .logodiv {
        display: flex;
        flex-direction: row;

        .logo {
            height: 80px;
        }
    }
}

@media (max-width: 450px) {
    header {
        height: 200px;
        width: 100%;
    }

}