header {
    background-color: $ColorBackground;
    @include flex ( $display:flex, $content: space-between, $items:center);
    grid-area: header;
    align-self: stretch;

    .logodiv {
        @include flex ( $display, $direction:row);

        .logo {
            height: 80px;
        }
    }
}