header {
    background-color: $ColorBackground;
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-area: header;
    border-bottom: 1px solid black;
    box-shadow: 5px 0 10px rgba(0,0,0,0.4);

label {
    display: none;
    width: 30px;
    height: 30px;
    padding: 10px;
   border-right: 1px solid #fff;
}
input {
    display: none;
}
    .logodiv {
        display: flex;

        .logo {
            height: 80px;
        }
    }
}

@media screen and (max-width: 450px) {
    header {
        height: 180px;
        width: 100%;
       

        label {
            display: block;
            position: relative;
            width: 60px;
            height: 60px;
        }
        .logodiv {
            display: none
        }
    }
        #btn-menu:checked ~ .navbar li {
            margin: 0;
        }

       

        
    }

