$colorprincipal: black;
$ColorBackground: lightgray;


/* selector universal */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: 150px 3fr 1fr;
    grid-template-rows: 100px 300px 1fr 20%;
    grid-template-areas:
        "header   header   header"
        "main     main    aside"
        "main     main    aside"
        "footer   footer   footer";
    font-family: 'Roboto', sans-serif;
}


@media only screen and (max-width: 600px) {
    body {
        display: grid;
        grid-template-columns: 1fr 60px;


        grid-template-rows: 100px 300px 1fr 20% auto 300px;


        grid-template-areas:
            "header   header"
            "main     main "
            "main     main  "
            "aside     aside  "
            "aside     aside  "
            "footer   footer  ";
        font-family: 'Roboto', sans-serif;
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
    }
}

header {
    background-color: $ColorBackground;
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-area: header;
    align-self: stretch;
   
    .logodiv {
        display: flex;
        flex-direction: row;

     .logo {
        height: 80px;

        
        }
    }
}

nav {

    background-color: $ColorBackground;
    color: $colorprincipal;
    display: contents;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    font-weight: bold;
    text-decoration: none;

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

        li {
            float: left;
        
            a {
                display: inline;
                color:$ColorBackground;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
                justify-content: space-between;
            }
        }
   
    }

/* main*/
main {
    grid-area: main;

    #presentacion {
        color: $colorprincipal;
        height: 30vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h1 {
            text-align: center;
            font-size: 2rem;

        }
    }

    #Aprendizaje {
        color: $colorprincipal;
        margin-bottom: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h2 {
            text-align: center;
            font-size: 1.5rem;
        }

        p {
            text-align: center;
            font-size: 1rem;
            max-width: 80%;
            margin: 20px 0;

            ul {
                text-align: center;
                font-size: 1rem;
                max-width: 80%;
                margin: 20px 0;
            }

        }

    }
}


#destacados {
    color: $colorprincipal;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    h3 {
        text-align: center;
        font-size: 1.5rem;
        padding: 10px;
    }

    iframe {
        width: 80%;
        height: 80%;
        border-radius: 20px;

    }
}

aside {
    grid-area: aside;
    background-color: lightblue;

    h4 {
        margin-top: 100px;
    }

    .cards {
        display: flex;
        justify-content: space-around;
        margin-top: 100px;
        max-width: 1300px;
    }

    .casos {
        background-color: gray;
        color: $colorprincipal;
        width: 200px;
        padding: 30px;
        margin: 0 20px;
        text-align: center;
        border-radius: 10px;

        p {
            margin: 20px 0;
        }

    }
}

footer {
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
    grid-area: footer;

    h6 {
        margin-bottom: 20px;
    }
}

.footerEnlaces {
    padding-top: 20px;
    padding-left: 20px;
    width: 190%;
    height: 80%;
    display: flow-root;
    flex-direction: column;
    align-items: center;

    ul {
        list-style-type: none;
    }

    a {
        text-decoration: none;
        color: $colorprincipal;
        display: flex;
    }
}

.footerRedes {
    width: 15%;
    padding-top: 20px;
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 100px;
    padding-left: 100px;

    ul {
        display: flex;
        list-style-type: none;
        justify-content: space-between;
        color: $colorprincipal;
    }

    img {
        width: 30px;
    }
}

.footerContainer {
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
}

.newsletter {
    form {
        display: flex;
        align-items: center;
        flex-direction: column;

        input {
            padding: 10px 15px;
            border: none;
            border-radius: 15px;

            button {
                margin-top: 15px;
                border: none;
                background-color: lightgray;
            }

        }
    }
}

.copyright {
    padding-top: 20px;
    width: 100%;
    height: 80%;
    border-top: 2px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.button {
    font-weight: 600;
    background-color: lightblue;
    padding: 9px 25px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    color: $colorprincipal;
    text-decoration: none;
}

#imgnosotros {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}