/* selector universal */
@import "./base/resset";

/*   queries   */
@import "./base/queries";

/*    variables  */
@import "./abstracts/variables";

/* grid */
@import './layout/grid';

/*  mixin */
@import "./abstracts/mixins";

/* buttoms y cards */
@import "./components/buttoms";

/* header */
@import "./layout/header";

/* navbar  */
@import "./layout/navbar";

/* main*/
@import "./layout/main";

/* aside  */
@import "./layout/aside";

/* footer */
@import "./layout/footer";

.newsletter {
    form {
        @include flex($display: flex, $items, $direction);

        input {
            padding: 10px 15px;
            border: none;
            border-radius: 15px;

            button {
                margin-top: 15px;
                border: none;
                background-color: lightgray;
            }

        }
    }
}

.copyright {
    padding-top: 20px;
    width: 100%;
    height: 80%;
    border-top: 2px solid;
    @include flex($display, $direction, $items, $content: space-evenly);
}


#imgnosotros {
    @include flex($display, $content , $items);
    padding: 20px;}
